#first{
    color:darkgreen
    margin-left: 40px
    text-align:center
    background-color:bisque

}
.odd{
    color:rgb(100, 0, 100)
    border:1px solid black;
    background-color:palevioletred;
    height: 100px;
     }
}
.even{
    color:rgb(8, 0, 100)
    border:1px solid black;
    background-color:palevioletred;
    height: 100px;
}
